*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.join-call {
    width: 100vw;
    height: 100vh;
    background-color: #4D4646;
}

.join-call-container {
    margin: 0 auto;
    width: 75vw;
    height: 100vh;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 60vw;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-heading {
    align-content: center;
    margin: 0 0 20px 0;
    font-size: 2em;
    font-weight: 700;
    color: #f5eaea;
}

.room-code {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.room-password {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.input-label {
    color: #f5eaea;
    display: block;
    font-size: 1.1em;
    padding: .4em 0;
    align-self: center;
    text-align: right;
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #7fcd91;
    color: #f5eaea;
    display: block;
    font-size: 1em;
    margin: 0 1vw;
    padding: .4em 0;
    width: 10vw;
}

#create-room-password {
    display: none;
}

.btn {
    height: 4em;
    width: 15vw;
    margin: 20px 0;
    padding: 1em 1.4em 1em 1.4em;
    color: #5b5656;
    border: none;
    background-color: #7fcd91;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .5);
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .5);
}

#generate-btn {
    margin: 0;
}

#join-room-password {
    display: none;
}

.checkbox {
    padding: .4em 0;
    align-self: center;
    width: 2vw;
    height: 2vh;
    margin-left: 0.5vw;
}

.dash {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    position: relative;
    color: #f5eaea;
}

.dash::before {
    content: "";
    display: block;
    width: 40%;
    height: 2px;
    background: #7fcd91;
    position: absolute;
    left: 0%;
    top: 50%;
}

.dash::after {
    content: "";
    display: block;
    width: 40%;
    height: 2px;
    background: #7fcd91;
    position: absolute;
    right: 0%;
    top: 50%;
}